<h1>Sign In</h1>
<%=form_tag "/session", method: :post do  %>
 
  <div>
    <%= label_tag :email%>
    <%= text_field_tag :email%>
  </div>
  <div>
    <%= label_tag :password%>
    <%= password_field_tag :password%>
  </div>
 
  <%=submit_tag "Sign In"%>
<%end%>

<div>
  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
</div>
<div>
  <%=link_to "Sign Up", sign_up_path%>
</div>