<div class="row">
  <%boards.each do |board|%>
    <div class="col-4">
      <p><strong>Title:</strong>  <%=board.title%></p>
      <p><strong>Description:</strong>  <%=board.description%></p>
      <p><strong>Bid Price:</strong>  <%=board.current_price%></p>
      <p><strong><%=board.location%></strong> </p>
      <p><%=link_to "edit", edit_board_path(board)%></p>
      <p> <%=link_to "show", board_path(board)%></p>
      <p> <%= link_to 'Delete', 
                   board_path(board), 
                               method: :delete, 
                               data: { confirm: 'Are you sure?' } %></p>
    </div>
  <%end%> 
</div>