<div class="container">
  <h1 class="align_center">Board Index</h1>
  <div>
    <%=link_to "new billboard", new_board_path%>
    <%=form_tag search_boards_path, method: :post, remote: true do %>
      <%=text_field_tag :search_result %>
      <%=submit_tag "Look Up"%>
    <%end%>
  </div>
  <div id="boards">
    <%=render partial: "boards", locals: {boards: @boards}%>
  </div>
</div>
