  <div class="container mt-10">
    <%=form_for [@user, @board], :html => {class: "block"} do |f|%>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <h1>General Information</h1>
          <div>
            <strong><%=f.label :title%><br></strong>
            <%=f.text_field :title, class:"text_box", placeholder:"E.g. Three Month Lease of Board near Taipei Train Station"%>
          </div>
          <div>
            <strong><%=f.label :description%><br></strong>
            <%=f.text_area :description, class:"text_box", placeholder: "Description of the billboard and its surrounding area"%>
          </div>
          <div>
            <h5>Please add pictures of your billboards</h5>
            <%=f.file_field :images, multiple:true, class:"text_box"%>
          </div>
          <hr>
          <h1>Location</h1>
          <div>
            <strong><%=f.label "Street Address"%><br></strong>
            <%=text_field_tag "board[location][street_address]", nil, class:"text_box"%>
          </div>          
          <div>
            <strong><%=f.label "District"%><br></strong>
            <%=text_field_tag "board[location][district]", nil, class:"text_box"%>
            <strong><%=f.label "City"%><br></strong>
            <%=text_field_tag "board[location][city]", nil, class:"text_box"%>            
            <strong><%=f.label "Country"%><br></strong>
            <%=text_field_tag "board[location][country]", nil, class:"text_box"%>
          </div>
          <div> 
            <%=f.submit "create", class:"btn btn-secondary float-right"%><br>  
            <%=link_to "back", user_boards_path%>
          </div>
        </div>
        <div class="col-2"></div>

      </div>  
    <%end%>

  </div>

