<main class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <%= render partial: '/boards/carousel', locals: {board: @board} %><br>  
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <p><strong> Board:</strong></p>
        </div>
        <div class="col-6">
          <p> <%=@board.title%></p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p><strong>Description:</strong></p>
        </div>
        <div class="col-6">
          <p> <%=@board.description%></p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p><strong>Location:</strong></p>
        </div>
        <div class="col-6">
          <p> <%=@board.location%></p>
        </div>
        <div class="col-12">
          <div id="map">ASDF</div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
    </div>
  </div>
</main>


<nav class="navbar fixed-bottom navbar-light bg-light p-0">
  <%=link_to "Open New Auction", new_board_timeslot_path(@board), class:"btn btn-secondary btn-lg btn-block"%><br>
</nav>


<script type="text/javascript">
  function initMap() {
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({"address":"<%=@board.location%>"}, function(result, status){
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15, 
        center: result[0].geometry.location
      })
      var marker = new google.maps.Marker({
        position: result[0].geometry.location,
        map: map
      });
    })
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_JAVASCRIPT_API']%>&callback=initMap">
</script>