<div class="section-1 align_center">
  <div class="container pt-5">
    <h1 class="top-title">Billboard Air</h1>
    <h4>Keeps Your Ads on Air</h4>
    <%=form_tag search_billboards_path, method: :post, remote: true do %>
      <%=text_field_tag :search_result, nil, class:"text_box", placeholder:"Search billboards with location" %>
      <%=submit_tag "Look Up", class:"hidden_element"%>
    <%end%>
  </div>
</div>

<div class="container mt-5">
  <div class= "row mb-5">
    <div class="col-12">
      <div id="map">ASDF</div>
    </div>  
  </div>
  <div id="timeslots">
    <%=render partial: "timeslots/timeslots", locals: {timeslots: @timeslots, user: current_user}%>
  </div>
</div>


<script type="text/javascript">
  var markers = [];
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13, 
      center: new google.maps.LatLng(<%=@average_lat%>, <%=@average_long%>) 
    })
    
    <%@boards.each do |board|%>
      var marker = new google.maps.Marker({
        position: {lat:<%=board.latitude%>, lng:<%=board.longitude%>},
        map: map
        
      });
      markers.push(marker);
    <%end%>
  }


  function setMapOnAll(map) {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
    }
  }

  function clearMarkers() {
    setMapOnAll(null);
  }


</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_JAVASCRIPT_API']%>&callback=initMap">
</script>